{% extends "base.html" %}

{% block content %}

<div class="container">
    <form method="POST" action="{{ url_for('company') }}">
        {% if get_flashed_messages() %}
        <div class="error">
            {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <div class="customform">
            <h2>Add Company</h2>
            <div class="mb-3">
                <label for="companyname">Companyname</label>
                <input type="text" class="form-control" aria-describedby="companyname" name="companyname" placeholder="Micorosoft Corporation">
            </div>
            <div class="mb-3">
                <label for="website">Website</label>
                <input type="text" class="form-control" aria-describedby="website" name="website" placeholder="https://msrc.microsoft.com/update-guide/vulnerability/CVE-2024-38063">
            </div>
            <div class="d-flex justify-content-end align-items-end" style="height: 50px;">
                <br />
                <button type="submit" class="position-absolute btn btn-primary" name="btn" value="Add">Add</button>
            </div>
        </div>
    </form>
    <br />
    <hr />
    <div>
        <h2>All available Companys</h2>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Companyname</th>
                    <th scope="col">Website</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for company in company %}
                <tr>
                    <th scope="row">{{company.id}}</th>
                    <td>{{company.companyname}}</td>
                    <td><a href="{{company.website}}" target="_blank">{{company.website}}</a></td>
                    <td><form method="post" action="{{ url_for('company') }}"><button type="submit" class="btn btn-primary" name="btn" value="{{company.id}}">Delete</button></form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}